/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* CUSTOM PROPERTIES */
:root {
    --space-gap-small: 10px;
    --space-gap-large: 20px;
}


/* UTILY */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-small {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-large {
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 1.4;
    margin-bottom: 25px;
    font-size: 0.8rem;
}

.mt-25 {
    margin-top: 25px;
}

.mb-85 {
    margin-bottom: 85px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.mr-20 {
    margin-right: 20px;
}



/* COMMON */

.flex {
    display: flex;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
}

.btn-w100 {
    width: 100%;
    padding: 8px 0;
    text-align: center;
}

.bg-blu {
    background-color: #0061FE;
    color: white;
}

.border-gray {
     border: 1px solid rgb(207, 199, 199);
}

.color-gray {
    color: gray;
}


/* HEADER */
.nav-header {
    height: 80px;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.col-40 {
    width: 40%; 
}

.list-nav-info-dropbox {
    align-items: center;
    gap: 25px;
}

.list-nav-info-user {
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.nav-header a:hover {
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: #0253d5;
}


/* MAIN */
.main h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}
/* HERO SECTION */
.hero-section {
    max-height: 555px;
    background-color: #B4D0E6;
    padding-top: 40px;
    margin-bottom: 150px;
}

.title-hero-section {
    font-size: 3.5rem;
    font-weight: 800;
    min-height: 100px;
    margin-bottom: 30px;
}

.col-small {
    width: 30%;
}

.col-large {
    width: 70%;
}

.icon-arrow i {
    font-size: 35px;
}

/* SECTION TOP */
.billing > * {
    vertical-align: middle;
}

/* CARDS */
.cards-piani {
    flex-wrap: wrap;
    gap: var(--space-gap-large);
    margin-top: 40px;
    margin-bottom: 25px;
}

.col {
    width: calc((100% - var(--space-gap-large) * 2) / 3);
}


/* HEADER CARD */
.header-card {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgb(207, 199, 199);
}

.header-card > span{
    font-size: 0.9rem;
  
}


/* MAIN CARD */
.main-card {
    padding: 15px;
    padding-top: 35px;
    font-size: 0.9rem;
}

.main-card h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.price {
    margin-bottom: 20px;
    font-weight: bold;

}

.information-plan {
    margin: 45px 0;
}

.punti-salienti-piano h3 {
    font-size: 0.8rem;
}

.main-card li {
    display: flex;
    margin-bottom: 20px;
}

.main-card span {
    margin-left: 7px;
    font-size: 0.8rem;
}

.main-card a {
    color: blue;
    text-decoration: underline;
}

.border {
    border: 1px solid gray;
    width: 30%;
    margin: 45px 0;
}

.list-punti-salienti-piano i {
    color: #328acd;
}

/* CARD TEAM */
.card-team {
    margin-bottom: 150px;
    
}

/* HEADER CARD TEAM */
.header-card-team {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgb(207, 199, 199);
}


/* MAIN CARD TEAM */
.main-card-team {
    padding: 0 25px;
    padding-top: 30px;
}

.main-card-team h4 {
    margin-bottom: 15px;
}

.font-bolt {
    font-weight: bold;
}

.txt-right {
    text-align: right;
}

/* SECTION MIDDLE 1 */
.section-middle-1 {
    margin-bottom: 100px;
    gap: var(--space-gap-large);
}

.col-w65 {
    width: 65%;
}

.col-w35 {
    width: 35%;
}


/* SECTION MIDDLE 2 */
.section-middle-2 {
    margin-top: 50px;
    margin-bottom: 80px;
}

.section-middle-2 h4 {
    margin-bottom: 20px;
    line-height: 1.4;
}

.cards-operations {
    flex-wrap: wrap;
    gap: 20px;
}


/* SECTION BOTTOM */ 
.section-bottom a {
    color: blue;
    text-decoration: underline;
}


/* FOOTER */
.footer {
    margin-top: 150px;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 50px;

}
/* FOOTER TOP */
.footer-top {
    gap: var(--space-gap-small);
}

.footer-top h3 {
    color: white;
    margin-bottom: 30px;
}

.footer-top li {  
    color: gray;  
    margin-bottom: 15px;
}

.footer-top a:hover {
    text-decoration: underline;
}

.col-footer {
    width: calc((100% - var(--space-gap-small) * 4) / 5);
}

/* FOOTER BOTTOM */
.footer-bottom {
    color: gray;
    margin-top: 50px;

}

.language {
    margin-left: 5px;
}
